body{
  background: url(./img/islam.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.btn1{
  font-size: 60px;
  border: none;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  color: aliceblue;
  background-color: transparent;
}
.box{
  background-color: black;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-top: 100px;
  margin: auto;
  margin-top: 80px;
  border: 2px double white;
  position: relative;
}
.btn3{
  width: 150px;
  height: 50px;
  border-width: 5px;
  border-radius: 35px;
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  color: black;
  margin-top: 60px;
}
.eh{
  text-align: center;
}
.arab{
  position: absolute;
  font-size: 35px;
  color: white;
  top: 190px;
  left: 110px;
}
/* --------------------------------Responsive----------------- */
@media (max-width: 575px) {
  body{
    background: url(./img/islam.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 642px;
  }
  .box{
    background-color: black;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 100px;
    margin: auto;
    margin-top: 200px;
    border: 2px double white;
  position: relative;
  }
  .btn1{
    font-size: 40px;
    border: none;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: aliceblue;
    background-color: transparent;
  }

  .arab{
    position: absolute;
    font-size: 30px;
    color: white;
    top: 120px;
    left: 70px;
  }
  .btn3{
    width: 100px;
    height: 37px;
    border-width: 3px;
    border-radius: 35px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    color: black;
    margin-top: 30px;
  }
  }
