body{
  background: url(./img/islam.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.btn1{
  margin-top: 100px;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  font-size: 100px;
  border: none;
  background-color: black;
  color: aliceblue;
  border: 2px double white;
}
.box{
  text-align: center;
}
.btn3{
  width: 250px;
  height: 85px;
  border-width: 5px;
  border-radius: 35px;
  font-size: 35px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  color: black;
  margin-top: 120px;
}
.eh{
  text-align: center;
}
.arab{
  font-size: 40px;
  margin-top: -125px;
  color: white;
}
/* --------------------------------Responsive----------------- */
/* @media (max-width: 575px) {
  body{
    background: url(./img/islam.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 642px;
  }
  } */
